<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="menu-left">
                    <div class="logo ">
                        <i class="fa fa-twitter fa-4x mb-4"></i>
                        <a href="{% url 'tweets:HomeView' %}"><button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill " onclick="" >
                        <i class="fa fa-home fa-sm "></i>Home</button></a>
                        <button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill "><i class="fa fa-hashtag fa-sm "></i>Explore</button>
                        <button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill "><i class="fa fa-bell fa-sm"></i>Notifications</button>
                        <button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill "><i class="fa fa-bookmark fa-sm"></i> Bookmarks</button>
                        <button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill "><i class="fa fa-envelope fa-sm"></i>Messages</button>
                        <button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill "><i class="fa fa-list-alt fa-sm"></i>Lists</button>
                        <button type="button" class="btn btn-outline-warning mb-3 font-weight-bold  rounded-pill "><img src="img/1.jpg" class="rounded-circle mr-2" width="20px" height="20px"></i> Profile</button>
                        <button type="button" class="btn btn-warning mb-3 font-weight-bold rounded-pill">Tweet</button>
                    </div>
                </div>
            </div>

{% block content %}
  
{% endblock content %}
            <div class="col-sm-3">
                {% include "tweet/search_tweet.html" %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>